{extend name="common/layout" /}

{block name="content"}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="content-box" style="margin-top: 50px;">
            <h3 class="text-center"><i class="fa fa-key"></i> 修改密码</h3>
            <hr>
            <form method="post" action="{:url('index/auth/changePassword')}">
                <div class="form-group">
                    <label><i class="fa fa-lock"></i> 旧密码</label>
                    <input type="password" class="form-control" name="old_password" required>
                </div>
                <div class="form-group">
                    <label><i class="fa fa-lock"></i> 新密码</label>
                    <input type="password" class="form-control" name="new_password" required minlength="6">
                    <small class="text-muted">至少6位字符</small>
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-save"></i> 修改密码</button>
            </form>
        </div>
    </div>
</div>
{/block}