{extend name="common/layout" /}

{block name="content"}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="content-box">
            <h3><i class="fa fa-users"></i> 内部共享</h3>
            <hr>
            <form method="post" action="{:url('index/share/internalShare')}" class="ajax-form">
                <input type="hidden" name="file_id" value="{$file_id}">
                <div class="form-group">
                    <label>选择用户</label>
                    <select class="form-control" name="user_ids[]" multiple size="8">
                        {foreach $users as $user}
                        <option value="{$user.id}">{$user.username} ({$user.email})</option>
                        {/foreach}
                    </select>
                    <small class="text-muted">按住Ctrl键可多选</small>
                </div>
                <div class="form-group">
                    <label>权限</label>
                    <div class="radio">
                        <label><input type="radio" name="permission" value="1" checked> 只读</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" name="permission" value="2"> 可编辑</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-share"></i> 共享</button>
            </form>
        </div>
    </div>
</div>
{/block}