{extend name="common/layout" /}

{block name="content"}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="content-box" style="margin-top: 50px;">
            <h3 class="text-center"><i class="fa fa-key"></i> 请输入提取码</h3>
            <hr>
            <form method="post" action="{:url('index/share/view')}" class="ajax-form">
                <input type="hidden" name="token" value="{$token}">
                <div class="form-group">
                    <label><i class="fa fa-lock"></i> 提取码</label>
                    <input type="password" class="form-control" name="password" required placeholder="请输入6位提取码" maxlength="6">
                </div>
                <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-unlock"></i> 查看文件</button>
            </form>
        </div>
    </div>
</div>
{/block}